<div class="container">
  <div class="jumbotron mt-3">
    <h1>Mi Proyecto Angular!!</h1>
    <br>

    <app-navbar></app-navbar>
    <router-outlet></router-outlet>

    <!-- <app-entrada></app-entrada>
    <app-clientes></app-clientes>
    <app-estructura></app-estructura>
    <app-atributos></app-atributos>
    <app-formularios></app-formularios>
    <app-usuarios></app-usuarios> -->
      
    <!-- <div class="row">
      <div class="col-6">
        <app-entrada></app-entrada>
      </div>
      <div class="col-6">
        <app-estructura></app-estructura>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-atributos></app-atributos>
      </div>
      <div class="col-6">
        <app-formularios></app-formularios>
      </div>
    </div> -->

  </div>
</div>